.navbar {
  background-color: #ecf0ed;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .leftNav {
    display: flex;
    align-items: center;
    background-color: #ecf0ed;
  }
  
  .bars {
    width: 40px;
    height: 35px;
    cursor: pointer;
    
  }
  
  .bars-options {
    list-style: none;
    background-color: #ecf0ed;
    padding: 10px;
    position: absolute;
    top: 60px;
    width: 120px;
  }
  
  .bars-options li {
    margin-bottom: 5px;
    
  }
  
  .welcome {
    margin-left: 350px;
    padding-right: 20px ;
    background-color: #ecf0ed;
    font-weight: bold;
    font-size: 25px;
    font-family: Montserrat;
  }
  
  .rightNav {
    display: flex;
    align-items: center;
    
  }
  
  .userPic {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 5px;
    
    
  }

  .picture {
    width: 200px;
    height: 80px;
    padding-right: 120px;
    object-fit:cover;
    
  }
  
  .username {
    font-weight: bold;
  }

  .user {
    background-color: #ecf0ed;
  }
  